<li>
  <ul>

    <% production.attributes.each do |key, val|  %>
        <% if  %w(company_id title description price_range ticket_url).include? key%>
            <li><%= key %>: <%= val %></li>
        <% end %>
    <% end  %>

    <li><%= image_tag production.image.url(:thumb) %></li>

  </ul>
</li>